@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- PAGE TITLE SECTION -->
<section class="clearfix pageTitleArea" style="background-image: url(https://i.pinimg.com/736x/43/a2/68/43a268ccb17b5253196de9e0c65a0e97.jpg);">
    <div class="container">
        <div class="pageTitle">
            <h1>About Us</h1>
        </div>
    </div>
</section>


<!-- ABOUT SECTION -->
<section class="container-fluid clearfix aboutSection patternbg">
    <div class="aboutInner">
        <div class="sepcialContainer">
            <div class="row">
                <div class="col-sm-6 col-xs-12 rightPadding">
                    <div class="imagebox ">
                        <img class="img-responsive lazyestload" data-src="https://i.pinimg.com/474x/24/73/75/247375d9f472b2737507b36f77a7cc3a.jpg" src="https://i.pinimg.com/474x/dd/8f/5c/dd8f5ce4d2a6316a2ea19f30821a9002.jpg" alt="Image About">
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="aboutInfo">
                        <h2>
                            Hoodie - Your Local Fashion Haven
                        </h2>
                        <h3>
                            Discover the latest trends in fashion with Hoodie, your go-to local store for stylish, high-quality apparel at affordable prices. Whether you're looking for everyday essentials or statement pieces, we bring you a carefully curated selection to suit every occasion.

                            At Hoodie, we believe fashion should be accessible to everyone. Our collections are designed to keep you on trend with comfortable fabrics, modern cuts, and a variety of styles that cater to your unique taste.

                            Shop with ease, enjoy fast local delivery, and elevate your wardrobe with Hoodie – because fashion starts with you
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<!-- REVIEW SECTION -->
<section class="clearfix reviewSection patternbg">
    <div class="container">
        <div class="secotionTitle">
            <h2><span>Testimonials </span>Customer reviews</h2>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="reviewImage">
                    <img src="https://i.pinimg.com/474x/ef/3e/5a/ef3e5afeb8b038d8cd9644100e3add77.jpg" data-src="https://i.pinimg.com/474x/ef/3e/5a/ef3e5afeb8b038d8cd9644100e3add77.jpg" alt="Image review" class="img-responsive lazyestload">
                </div>

                <div class="reviewInfo mb-md-0">
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                    <p>Hoodie has completely transformed my shopping experience! The quality of the clothes is amazing, and the prices are unbeatable. I love how trendy and comfortable everything is, and the fast local delivery makes it even better. Definitely my go-to store for all things fashion!</p>
                    <h3>Linda Smith</h3>
                    <h4>Fashion Enthusiast & Loyal Customer </h4>
                </div>
            </div>

            <div class="col-md-6">
                <div class="reviewImage">
                    <img src="https://i.pinimg.com/474x/b3/9d/e0/b39de0b8bb76e7e98415249adb91e4cc.jpg" data-src="https://i.pinimg.com/474x/b3/9d/e0/b39de0b8bb76e7e98415249adb91e4cc.jpg" alt="Image review" class="img-responsive lazyestload">
                </div>

                <div class="reviewInfo mb-0">
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                    <p>I absolutely love shopping at Hoodie! The styles are always on point, and the quality exceeds my expectations every time. It's amazing to have a local store that brings trendy fashion at such great prices. Fast delivery and excellent customer service make the experience even better!</p>
                    <h3>Linda Smith</h3>
                    <h4>Happy Hoodie Customer</h4>
                </div>
            </div>
        </div>
    </div>
</section>