@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- NOT FOUND SECTION -->
<section class="clearfix notFound py-0">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-sm-6 col-sm-offset-3 col-xs-12">
            <div class="notFoundInner">
                <a href="index-2.html" class="notFoundLogo"><img src="~/Img/logo2.png" alt="Logo"></a>
                <div class="notFoundImage"><img src="~/Img/not-found/not-found.png"  alt="Image not found" ></div>
                <div class="notFoundInfo">
                    <h2>Sorry! Page Not Found!</h2>
                    <a href="index-2.html" class="btn btn-primary">Come Back</a>
                </div>
            </div>
        </div>
    </div>
</section>
