@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- RELATED PRODUCT SECTION -->
<section class="clearfix relatedProduct">
    <div class="container">
        <div class="relatedTitle">
            <h2>Hoodie</h2>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <a asp-controller="Home" asp-action="ProductDetails" class="realatedInner">
                    <div class="productBox">
                        <img src="https://i.pinimg.com/474x/2f/f9/4e/2ff94e0046fd38ef541cfb2a8d42f29d.jpg" data-src="https://i.pinimg.com/474x/2f/f9/4e/2ff94e0046fd38ef541cfb2a8d42f29d.jpg" alt="Image Product" class="img-responsive lazyestload">
                    </div>
                    <div class="productName">Man hoodie </div>
                    <div class="productPrice">$15</div>
                </a>
            </div>

            <div class="col-md-6 col-lg-3">
                <a asp-controller="Home" asp-action="ProductDetails" class="realatedInner">
                    <div class="productBox">
                        <img src="https://i.pinimg.com/474x/d5/4e/9d/d54e9d802dcc387842fb32d6b56c626d.jpg" data-src="https://i.pinimg.com/474x/d5/4e/9d/d54e9d802dcc387842fb32d6b56c626d.jpg" alt="Image Product" class="img-responsive lazyestload">
                    </div>
                    <div class="productName">Man hoodie </div>
                    <div class="productPrice">$50</div>
                </a>
            </div>

            <div class="col-md-6 col-lg-3">
                <a asp-controller="Home" asp-action="ProductDetails" class="realatedInner">
                    <div class="productBox">
                        <img src="https://i.pinimg.com/474x/2f/f9/4e/2ff94e0046fd38ef541cfb2a8d42f29d.jpg" data-src="https://i.pinimg.com/474x/2f/f9/4e/2ff94e0046fd38ef541cfb2a8d42f29d.jpg" alt="Image Product" class="img-responsive lazyestload">
                    </div>
                    <div class="productName">Man hoodie </div>
                    <div class="productPrice">$15</div>
                </a>
            </div>

            <div class="col-md-6 col-lg-3">
                <a asp-controller="Home" asp-action="ProductDetails" class="realatedInner">
                    <div class="productBox">
                        <img src="https://i.pinimg.com/474x/d5/4e/9d/d54e9d802dcc387842fb32d6b56c626d.jpg" data-src="https://i.pinimg.com/474x/d5/4e/9d/d54e9d802dcc387842fb32d6b56c626d.jpg" alt="Image Product" class="img-responsive lazyestload">
                    </div>
                    <div class="productName">Man hoodie </div>
                    <div class="productPrice">$50</div>
                </a>
            </div>
        </div>
        <br /><br />
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <a asp-controller="Home" asp-action="ProductDetails" class="realatedInner">
                    <div class="productBox">
                        <img src="https://i.pinimg.com/474x/2f/f9/4e/2ff94e0046fd38ef541cfb2a8d42f29d.jpg" data-src="https://i.pinimg.com/474x/2f/f9/4e/2ff94e0046fd38ef541cfb2a8d42f29d.jpg" alt="Image Product" class="img-responsive lazyestload">
                    </div>
                    <div class="productName">Man hoodie </div>
                    <div class="productPrice">$15</div>
                </a>
            </div>

            <div class="col-md-6 col-lg-3">
                <a asp-controller="Home" asp-action="ProductDetails" class="realatedInner">
                    <div class="productBox">
                        <img src="https://i.pinimg.com/474x/d5/4e/9d/d54e9d802dcc387842fb32d6b56c626d.jpg" data-src="https://i.pinimg.com/474x/d5/4e/9d/d54e9d802dcc387842fb32d6b56c626d.jpg" alt="Image Product" class="img-responsive lazyestload">
                    </div>
                    <div class="productName">Man hoodie </div>
                    <div class="productPrice">$50</div>
                </a>
            </div>

            <div class="col-md-6 col-lg-3">
                <a asp-controller="Home" asp-action="ProductDetails" class="realatedInner">
                    <div class="productBox">
                        <img src="https://i.pinimg.com/474x/2f/f9/4e/2ff94e0046fd38ef541cfb2a8d42f29d.jpg" data-src="https://i.pinimg.com/474x/2f/f9/4e/2ff94e0046fd38ef541cfb2a8d42f29d.jpg" alt="Image Product" class="img-responsive lazyestload">
                    </div>
                    <div class="productName">Man hoodie </div>
                    <div class="productPrice">$15</div>
                </a>
            </div>

            <div class="col-md-6 col-lg-3">
                <a asp-controller="Home" asp-action="ProductDetails" class="realatedInner">
                    <div class="productBox">
                        <img src="https://i.pinimg.com/474x/d5/4e/9d/d54e9d802dcc387842fb32d6b56c626d.jpg" data-src="https://i.pinimg.com/474x/d5/4e/9d/d54e9d802dcc387842fb32d6b56c626d.jpg" alt="Image Product" class="img-responsive lazyestload">
                    </div>
                    <div class="productName">Man hoodie </div>
                    <div class="productPrice">$50</div>
                </a>
            </div>
        </div>

    </div>
</section>
