@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- ORDER SECTION -->
<section class="clearfix orderArea">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <form>
                    <div class="panel panel-default cartInfo">
                        <div class="panel-heading patternbg">your Order</div>
                        <div class="panel-body tableArea mb-4 mb-lg-0">
                            <div>
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td><a href="single-product.html" class="cartImage"><img src="~/Img/products/cart-product-1.jpg" class="lazyestload" data-src="~/Img/products/cart-product-1.jpg" alt="Image cart"></a></td>
                                            <td><a class="text-wrap" href="single-product.html">Lorem ipsum dolor sit consectetur.</a> <br> <span>Qnt: 1</span></td>
                                            <td><span class="price">$79</span></td>
                                            <td>
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true" class="hidden-xs">×</span>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><a href="single-product.html" class="cartImage"><img src="~/Img/products/cart-product-2.jpg" class="lazyestload" data-src="img/products/cart-product-2.jpg" alt="Image cart"></a></td>
                                            <td><a class="text-wrap" href="single-product.html">Lorem ipsum dolor sit consectetur.</a> <br> <span>Qnt: 1</span></td>
                                            <td><span class="price">$79</span></td>
                                            <td>
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true" class="hidden-xs">×</span>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><a href="single-product.html" class="cartImage"><img src="~/Img/products/cart-product-1.jpg" class="lazyestload" data-src="~/Img/products/cart-product-1.jpg" alt="Image cart"></a></td>
                                            <td><a class="text-wrap" href="single-product.html">Lorem ipsum dolor sit consectetur.</a> <br> <span>Qnt: 1</span></td>
                                            <td><span class="price">$79</span></td>
                                            <td>
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true" class="hidden-xs">×</span>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><a href="single-product.html" class="cartImage"><img src="~/Img/products/cart-product-2.jpg" class="lazyestload" data-src="img/products/cart-product-2.jpg" alt="Image cart"></a></td>
                                            <td><a class="text-wrap" href="single-product.html">Lorem ipsum dolor sit consectetur.</a> <br> <span>Qnt: 1</span></td>
                                            <td><span class="price">$79</span></td>
                                            <td>
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true" class="hidden-xs">×</span>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-lg-4">
                <form>
                    <div class="panel panel-default cartInfo">
                        <div class="panel-heading patternbg">Total <span class="pull-right">$158</span></div>
                        
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>